{% extends 'default/layout.html' %}
{% block body %}
<body>
	<section class="header">
		<h1 class="heading-1">{{title}}</h1>
		{#
		<nav class="navbar">
			<a href="" class="item">Link 01</a>
			<a href="" class="item">Link 02</a>
		</nav>
		#}
	</section>

	<section class="body">
		
	</section>

	<script src="/vendor/react/react.js"></script>
	<script src="/vendor/react/JSXTransformer.js"></script>
	<script src="/javascripts/api.js"></script>
	<script type="text/jsx" src="/javascripts/stock.js"></script>
</body>
{% endblock %}