{% extends 'default/layout.html' %}
{% block body %}
    <div id="wrapper">
        {% include 'default/navigation.html' %}

        <div id="page-wrapper" class="stock-page">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Estoque de produtos</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body react-body"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/build/javascripts/sb-admin-2.js"></script>

    <!-- Marcelo's stuff -->
    <script src="/vendor/react/react.js"></script>
    <script src="/build/javascripts/api.js"></script>
    <script src="/build/javascripts/stock.js"></script>
{% endblock %}
