{% extends '../default/layout.html' %}
{% block body %}
    <div id="wrapper">
        {% include '../default/navigation.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                  <h1 class="page-header row">
                    <div class="col-xs-9">Clientes</div>
                    <div class="col-xs-3 text-right"><a href="/{{module}}" class="btn btn-primary"><i class="fa fa-chevron-left visible-xs"></i><span class="hidden-xs">Ver todos</span></a></div>
                  </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                          <form action="/{{module}}/{% if client %}editar{% else %}novo{%endif%}" method="POST">
                            <div class="row">
                              <div class="form-group col-md-6">
                                <label>Cliente:</label>
                                <input type="text" name="name" class="form-control" value="{{client.name}}" />
                              </div>
  														<div class="form-group col-md-6">
                                <label>Telefone:</label>
                                <input type="text" name="phone" class="form-control" value="{{client.phone}}" />
                              </div>
                            </div>

														<hr />

                            <div class="row">
                              <div class="col-xs-8 col-sm-9">
														    <h3 class="subtitle">Veículos</h3>
                              </div>
                              <div class="col-xs-4 col-sm-3 text-right">
														    <a href="javascript:void(0)" id="addCar" class="btn btn-primary"><i class="fa fa-plus visible-xs"></i><span class="hidden-xs">Adicionar</span></a>
                              </div>
                            </div>


                            <div class="list-cars">
														{% for car in client.car %}
                              <div class="row">
                                <div class="form-group col-sm-6">
                                  <label>Modelo:</label>
                                  <input type="text" name="car[]" class="form-control" value="{{car.model}}" />
  															</div>
                                <div class="form-group col-sm-4">
                                	<label>Placa:</label>
                                	 <input type="text" name="plate[]" class="form-control" value="{{car.plate}}" />
  															</div>
                                <div class="form-group col-sm-2">
                                	<button type="button" class="btn btn-danger btn-remove-car" style="margin-top: 16px;"  ><i class="fa fa-close"></i> Remover</button>
  															</div>
  														</div>
                            {% endfor %}

                            {% if !client.car.length %}
                              <div class="row">
                                <div class="form-group col-sm-6">
                                  <label>Modelo:</label>
                                  <input type="text" name="car[]" class="form-control" />
                                </div>
                                <div class="form-group col-sm-4">
                                  <label>Placa:</label>
                                  <input type="text" name="plate[]" class="form-control" />
  															</div>
                                <div class="form-group col-sm-2">
                                  <button type="button" class="btn btn-danger btn-remove-car" style="margin-top: 16px;"  ><i class="fa fa-close"></i> Remover</button>
                                </div>
  														</div>
                            {% endif %}
                            </div>

                           	<div class="form-footer text-center">
                              <input type="hidden" name="_id" value="{{client._id.toString()}}" />
                              <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/javascripts/sb-admin-2.js"></script>
    <script src="/javascripts/clients-form.js"></script>
{% endblock %}
