{% extends '../default/layout.html' %}
{% block body %}
    <div id="wrapper">
        {% include '../default/navigation.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header row">
                      <div class="col-md-8">Pedidos</div>
                      <div class="col-md-4 text-right"><a href="/{{module}}/form" class="btn btn-primary">Cadastrar</a></div>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Pedido</th>
                                <th>Data</th>
                                <th>Placa</th>
                                <th>Valor</th>
                                <th>Ações</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for order in orders %}

                                <tr>
                                  <td><span class="field-label textAlign">{{order.orderNumber}}</span></td>
                                  <td><span class="field-label textAlign">
                                    {% if order.date.getDate() < 10 %}0{% endif %}{{order.date.getDate()}}/{% if order.date.getMonth() < 11 %}0{% endif %}{{ order.date.getMonth() + 1 }}/{{order.date.getFullYear()}}
                                  </span></td>
                                  <td><span class="field-label textAlign">{{order.car}}</span></td>
                                  <td><span class="field-label textAlign">R$ {{parseFloat(order.price - order.discount).toFixed(2).toString().replace('.', ',')}}</span></td>

                                  <td>
                                    <a href="/{{module}}/form/{{order._id.toString()}}" class="btn btn-primary"><i class="fa fa-edit"></i> Editar</a>
                                    <a href="/{{module}}/remove/{{order._id.toString()}}" class="btn btn-danger btn-remove"><i class="fa fa-close"></i> Remover</a>
                                  </td>
                                </tr>

                              {% endfor %}
                              {% if !orders.length %}
                                <tr>
                                  <td colspan="5" class="text-center">
                                    Não há pedidos.
                                  </td>
                                </tr>
                              {% endif %}
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/javascripts/sb-admin-2.js"></script>
    <script type="text/javascript">
    (function() {
      $('.btn-remove').click(function(event) {
        if(!confirm('Deseja mesmo excluir este cliente?')) return false;
        return true;
      });
    })();
    </script>
{% endblock %}
